In [1]:
odd=[1,3,5,7,9]

In [2]:
odd

[1, 3, 5, 7, 9]

In [3]:
a=[] #빈 리스트
b=[1,2,3] #숫자형 리스트
c=['Life','is','too','short'] #문자형 리스트
d=[1,2,'Life','is'] #복합형 리스트
e=[1,2,['Life','is']] #이중 리스트

In [4]:
b[0]

1

In [5]:
b[0]+b[2]

4

In [6]:
b[-1]

3

In [7]:
e[2][0]

'Life'

In [8]:
e[2][0][0]

'L'

In [9]:
a=[]
b=[1,2,3]
a+b

[1, 2, 3]

In [10]:
a=[1,2,3]
del a[1] #리스트 요소 삭제
a

[1, 3]

In [11]:
a.append(3) #리스트 요소 수정
a

[1, 3, 3]

In [12]:
a[1]=2 #리스트 요소 추가
a

[1, 2, 3]

In [13]:
a=[1,4,3,2]
a.sort()
a

[1, 2, 3, 4]

In [14]:
a=['a','c','b']
a.reverse()
a

['b', 'c', 'a']

In [15]:
a.sort()

In [16]:
a

['a', 'b', 'c']

In [17]:
a.reserver()

AttributeError: 'list' object has no attribute 'reserver'

In [18]:
a.reserve()

AttributeError: 'list' object has no attribute 'reserve'

In [19]:
a.reverse()

In [20]:
a

['c', 'b', 'a']

In [21]:
a=[2,3,1]
a.sort(reverse = True) #코드 한줄로 역정렬
a

[3, 2, 1]

In [22]:
#append와 extend 비교
#튜플은 원소가 하나일 때 반드시 콤마를 붙인다.
#튜플은 괄호를 생략해서도 사용 가능

In [23]:
t1=(1,2,'a','b')
len(t1)

4

In [24]:
#리스트는 대괄호, 튜플은 소괄호, 딕셔너리는 중괄호

In [25]:
a={1:'a'}
a[2]='b' #딕셔너리 추가
a

{1: 'a', 2: 'b'}

In [26]:
del a[1]
a

{2: 'b'}

In [30]:
grade={'pey':10,'julliet':99}
grade['pey']

10

In [31]:
#{a:1}이라는 딕셔너리에서 a[1]은 키값을 의미한다. 리스트는 인덱싱이다.

In [32]:
dic={'name':'pey','phone':'0119993323','birth':'1118'}
dic['name']

'pey'

In [33]:
dic['phone']

'0119993323'

In [34]:
s1=set("hello")
s1

{'e', 'h', 'l', 'o'}

In [35]:
s1=set([1,2,3])
l1=list(s1)
l1

[1, 2, 3]

In [36]:
t1=tuple(s1)
t1

(1, 2, 3)

In [37]:
s1=set([1,2,3,4,5,6])
s2=set([4,5,6,7,8,9])
s1&s2

{4, 5, 6}

In [38]:
s1.intersection(s2)

{4, 5, 6}

In [41]:
s1=set([1,2,3,4,5,6])
s2=set([4,5,6,7,8,9])
s1

{1, 2, 3, 4, 5, 6}

In [42]:
s1|s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [43]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [44]:
s1-s2

{1, 2, 3}

In [45]:
s2-s1

{7, 8, 9}

In [46]:
s1.difference(s2)

{1, 2, 3}

In [47]:
s2.difference(s1)

{7, 8, 9}

In [48]:
s1=set([1,2,3])
s1.add(4)
s1

{1, 2, 3, 4}

In [49]:
a=True
b=False
type(a)

bool

In [50]:
1==1

True

In [51]:
2>1

True

In [52]:
2<1

False

In [53]:
"python"

'python'

In [54]:
a=[1,2,3,4]
while a:
    print(a.pop())

4
3
2
1

In [56]:
bool([1,2,3])

True

In [57]:
bool([])

False

In [58]:
bool(0)

False

In [59]:
bool(3)

True

In [65]:
###### 2장 연습문제 #######
a=[80,75,55]
result=a[0]+a[1]+a[2]
result

210

In [66]:
len(a)

3

In [67]:
result/len(a)

70.0

In [68]:
(a[0]+a[1]+a[2])/len(a)

70.0

In [69]:
13%2

1

In [70]:
# 2로 나누어서 나머지가 1이 나오면 홀수, 0이 나오면 짝수

In [74]:
hid='881120-1068234'
hid[:2]

'88'

In [75]:
hid[2:4]

'11'

In [76]:
hid[4:6]

'20'

In [78]:
hid[7:]

'1068234'

In [79]:
hid[7]

'1'

In [80]:
hid[:6]

'881120'

In [81]:
if 3>2:
    print("당연한거잖아")
else:
    print("...")

당연한거잖아

In [82]:
money=2000
card=True
if money>=3000 or card:
    print("택시 ㄱㄱ")
else:
    print("워킹")

택시 ㄱㄱ

In [83]:
'a' in ('a','b','c')

True

In [85]:
pocket=['paper','cellphone','money']
card=True
if 'money' in pocket:
    print("택시 ㄱㄱ")
elif card:
    print("택시 ㄱ")
else:
    print("워킹")

택시 ㄱㄱ

In [91]:
score=80
if score >= 60:
    message="success"
else:
    message="failure"
message

'success'

In [92]:
treehit=0
while treehit<10:
    treehit=treehit+1
    print("나무를 %d번 찍었습니다." % treehit)
    if treehit == 10:
        print("나무 넘어가요~")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어가요~

In [ ]:
prompt="""
1. Add
2. Del
3. List
4. Quit
...
Enter number:
"""

number=0
while number != 4 :
    print(prompt)
    number=int(input())

In [ ]:
#input으로 들어가는 건 무조건 string이기 때문에 int화를 해주어야 한다.
#if문은 유한하고 while은 무한하다.

In [ ]:
a=1
a