In [4]:
# 1교시 퀴즈

people=[('이호준','01050442903'),
       ('이호상','01051442904'),
       ('이준호','01050342904'),
       ('이호준','01050442903'),
       ('이준','01050412904'),
       ('이호','01050443904'),
       ('이호준','01050442903')]

#중복된 데이터 제거하여 실제 접수 명단이 몇명인가 알고 싶다.

# 세트 = 중복이 안되는 자료구조
# 보기의 딕셔너리를 세트화(化)시켜서 그 세트에 있는 요소의 갯수를 계산하면 된다.

count=0 # 세트 요소 갯수 카운트용

for i in set(people):
    count+=1
    
print(count)

5

In [5]:
# len이 훨씬 쉽네;;
len(set(people))

5

In [7]:
# 2교시 퀴즈

a=input() # 문자열 입력
print(a.swapcase()) # swapcase : 대문자를 소문자로, 소문자를 대문자로 바꿈

AAABBBcccddd
aaabbbCCCDDD

In [31]:
# 다른 방법을 찾아보자
a=input() # 문자열 입력
b="" # 출력을 위한 빈 문자열

for i in range(0,len(a)): # 입력받은 문자열 길이만큼 for문
    if a[i].isupper()==True: # 문자열이 대문자라면?
        b=b+a[i].lower() # 출력할 문자열에 소문자화해서 추가한다.
    else: # 문자열이 소문자라면?
        b=b+a[i].upper() # 출력할 문자열에 대문자화해서 추가한다.
print(b)

AAABBBcccddd
aaabbbCCCDDD

In [34]:
# 3교시 퀴즈

a=list(map(int,input().split())) # 공백을 제거해서 리스트로 받는다.
max(a) # 리스트에 있는 것 중 최대(max) 출력

10 9 8 7 6 5 4 3 2 1

10

In [36]:
# 다른 방법
a=list(map(int,input().split())) # 공백을 제거해서 리스트로 받는다.
b=sorted(a)
print(b)

max=0 # 최대값 저장

for i in range(0,len(a)): # 입력받은 숫자를 검사하는 for문
    if a[i]>max: # 최대값과 리스트 내 숫자를 비교해서 클 경우
        max=a[i] # 최대값이 해당 숫자로 대체된다

print(max) # for문을 모두 돌린 뒤 최대값(max) 출력

10 8 9 7 6 5 4 3 2 1
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
10

In [38]:
# sorted 사용
a=list(map(int,input().split())) # 공백을 제거해서 리스트로 받는다.

print(sorted(a)[-1]) # 정렬화시킨 뒤 리스트 가장 끝에 있는 요소를 출력

10 8 7 9 6 5 4 3 2 1
10

In [46]:
# 4교시 문제

student=['강은지','김유정','박현서','최성흔','홍유진','박지호','권윤일','김채리','한지호','김진이','김민호','강채연']

sort_stu=sorted(student) # 일단 가나다 순으로 리스트 정렬

for i in range(0,len(sort_stu)): # for문으로 출력
    print("번호 : ",i,end=",") # 번호 출력 - 뒤의 쉼표 때문에 end="," 추가
    print(" 이름 :",sort_stu[i]) # 이름 출력

번호 :  0, 이름 : 강은지
번호 :  1, 이름 : 강채연
번호 :  2, 이름 : 권윤일
번호 :  3, 이름 : 김민호
번호 :  4, 이름 : 김유정
번호 :  5, 이름 : 김진이
번호 :  6, 이름 : 김채리
번호 :  7, 이름 : 박지호
번호 :  8, 이름 : 박현서
번호 :  9, 이름 : 최성흔
번호 :  10, 이름 : 한지호
번호 :  11, 이름 : 홍유진

In [52]:
#format 사용해서 1줄로 출력

sort_stu=sorted(student) # 일단 가나다 순으로 리스트 정렬

for i in range(0,len(sort_stu)): # for문으로 출력
    print("번호 : {0}, 이름 : {1}".format(i+1,sort_stu[i])) # format 이용해서 출력

번호 : 1, 이름 : 강은지
번호 : 2, 이름 : 강채연
번호 : 3, 이름 : 권윤일
번호 : 4, 이름 : 김민호
번호 : 5, 이름 : 김유정
번호 : 6, 이름 : 김진이
번호 : 7, 이름 : 김채리
번호 : 8, 이름 : 박지호
번호 : 9, 이름 : 박현서
번호 : 10, 이름 : 최성흔
번호 : 11, 이름 : 한지호
번호 : 12, 이름 : 홍유진

In [55]:
# enumerate 사용해보라

# for i in enumerate(student):
#     print(i)
for i,v in enumerate(student):
    print("번호 : {0}, 이름 : {1}".format(i+1,v))

번호 : 1, 이름 : 강은지
번호 : 2, 이름 : 김유정
번호 : 3, 이름 : 박현서
번호 : 4, 이름 : 최성흔
번호 : 5, 이름 : 홍유진
번호 : 6, 이름 : 박지호
번호 : 7, 이름 : 권윤일
번호 : 8, 이름 : 김채리
번호 : 9, 이름 : 한지호
번호 : 10, 이름 : 김진이
번호 : 11, 이름 : 김민호
번호 : 12, 이름 : 강채연

In [67]:
# 아이디어 퀴즈
# 20190923을 출력하자 ; 단 코드에 숫자, 날짜, 연도, 에러코드가 들어가면 안된다.

print(ord('d')+ord('e'),end="") # 아스키코드 d(100)와 e(101)를 더하면 201이 나온다
print(ord('Z'),end="") # 아스키코드 Z(90)
print(ord('\\'),end="") # 아스키코드 \(92) : \\을 해주어야 \이 인식된다
print(ord('D')-ord('A')) # 아스키코드 D(68)에서 A(65)를 빼주면 3이 나온다

20190923

In [77]:
# 글자수를 세어보자

str="aacdddddddddfffffffffgghhh"

print(str.count('a'),end="")
print(str.count('b'),end="")
print(str.count('c'),end="")
print(str.count('d'),end="")
print(str.count('e'),end="")
print(str.count('f'),end="")
print(str.count('g'),end="")
print(str.count('h'))

20190923

In [84]:
# 5교시 문제

# a=["복잡한","세상"]에서 복을 출력하고 싶다면
# a[0][0]을 사용해주면 된다. 
# a[0] = 복잡한 -> a[0][0] = 복

a=input().split() # 입력받아 공백을 잘라 리스트화

for i in range(0,len(a)): # 리스트에 담겨진 수만큼 돌아가는 for문
    print(a[i][0],end="") # 각 요소의 첫 글자([0])만을 출력하고, 한줄에 붙인다.

복잡한 세상 편하게 살자
복세편살

In [88]:
# 정답

a=input().split(" ")
out=''

for i in a:
    out=out+i[0]
    print(out,end="")

복잡한 세상
복잡한복잡한복잡한

In [93]:
# 6교시 퀴즈

a=input() # 일단 입력을 받자. (문자열 상태)
if int(a)>0: # 입력받은 수가 양수라면
    print("{0}자리수".format(len(a))) # 해당 문자열의 길이를 출력한다.

649
3자리수

In [99]:
# 7교시 퀴즈
# 어떠한 문자열을 입력받았을 때 줄 바꿈과 공백을 제외한 글자수만 출력하는 코드

a=input() # 문자열입력
print(len(a)-a.count(' ')-a.count('\n')) # 문자열의 길이에서 공백과 개행문자 수 제외

공백을 제외한 글자수만을 세는 코드 테스트
18

In [ ]:
# 어떠한 문자열을 입력받았을 때 공백을 제외한 글자수만 출력하는 코드
# 줄 바꿈은 제외됨

a=input() # 문자열입력
print(len(a)-a.count(' ')) # 문자열의 길이에서 공백 수 제외