In [1]:
t1=()
type(t1)

tuple

In [2]:
t2=1,2,3
type(t2)

tuple

In [5]:
t3=1
type(t3)

int

In [6]:
t4=1, #괄호 없이 콤마만 찍어도 튜플로 취급한다.
type(t4)

tuple

In [7]:
t5=(1)
type(t5)

int

In [10]:
# 1~10까지 while문 출력
a=0
while a<10:
    a=a+1
    print(a)

1
2
3
4
5
6
7
8
9
10

In [11]:
test_list=['one','two','three']
for i in test_list:
    print(i)

one
two
three

In [12]:
marks=[90,25,67,45,80]

number=0
for mark in marks:
    number=number+1
    if mark>=60:
        print("%d번 학생은 합격입니다." % number)
    else:
        print("%d번 학생은 불합격입니다." % number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [13]:
a=range(10)
a

range(0, 10)

In [15]:
add=0
for i in range(1,11):
    add=add+i

print(add)

55

In [17]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [18]:
#for문으로 홀수만 찍기
for i in range(1,11):
    if i%2 == 1:
        print(i)

1
3
5
7
9

In [19]:
marks=[90,25,67,45,80]
for number in range(len(marks)):
   # print(number)
    if marks[number]<60:
        continue
    print("")

0
1
2
3
4

In [20]:
#이중 for문을 이용한 구구단
for i in range(2,10):
    for j in range(1,9):
        print(i*j,end=" ") #end=" "는 print문의 옵션 - 다음줄로 넘어가지 말라는 거
    print('')

2 4 6 8 10 12 14 16
3 6 9 12 15 18 21 24
4 8 12 16 20 24 28 32
5 10 15 20 25 30 35 40
6 12 18 24 30 36 42 48
7 14 21 28 35 42 49 56
8 16 24 32 40 48 56 64
9 18 27 36 45 54 63 72

In [27]:
#이중 for문을 이용한 구구단 응용
# ex)2*1=2 2*2=4

for i in range(2,10):
    for j in range(1,9):
        print(i,end=" ")
        print("*",end=" ")
        print(j,end=" ")
        print("=",end=" ")
        print(i*j,end=" ")
    print('')

2 * 1 = 2 2 * 2 = 4 2 * 3 = 6 2 * 4 = 8 2 * 5 = 10 2 * 6 = 12 2 * 7 = 14 2 * 8 = 16
3 * 1 = 3 3 * 2 = 6 3 * 3 = 9 3 * 4 = 12 3 * 5 = 15 3 * 6 = 18 3 * 7 = 21 3 * 8 = 24
4 * 1 = 4 4 * 2 = 8 4 * 3 = 12 4 * 4 = 16 4 * 5 = 20 4 * 6 = 24 4 * 7 = 28 4 * 8 = 32
5 * 1 = 5 5 * 2 = 10 5 * 3 = 15 5 * 4 = 20 5 * 5 = 25 5 * 6 = 30 5 * 7 = 35 5 * 8 = 40
6 * 1 = 6 6 * 2 = 12 6 * 3 = 18 6 * 4 = 24 6 * 5 = 30 6 * 6 = 36 6 * 7 = 42 6 * 8 = 48
7 * 1 = 7 7 * 2 = 14 7 * 3 = 21 7 * 4 = 28 7 * 5 = 35 7 * 6 = 42 7 * 7 = 49 7 * 8 = 56
8 * 1 = 8 8 * 2 = 16 8 * 3 = 24 8 * 4 = 32 8 * 5 = 40 8 * 6 = 48 8 * 7 = 56 8 * 8 = 64
9 * 1 = 9 9 * 2 = 18 9 * 3 = 27 9 * 4 = 36 9 * 5 = 45 9 * 6 = 54 9 * 7 = 63 9 * 8 = 72

In [28]:
# 리스트 내포
a=[1,2,3,4]
result=[] #빈 리스트
for num in a:
    result.append(num*3) #리스트에 num을 3배한 값을 넣는다
print(result)

[3, 6, 9, 12]

In [29]:
a=[1,2,3,4]
result=[num*3 for num in a]
print(result)

[3, 6, 9, 12]

In [36]:
# while문 사용해서 1부터 1000까지의 자연수 중 3의 배수의 합 구하기
sum=0
i=0

while i<1000:
    i=i+1
    if i%3==0:
        sum=sum+i
    else:
        continue
print(sum)

166833

In [37]:
# 위의 예제를 for문으로 구현
sum=0
for i in range(1,1001):
    if i%3==0:
        sum=sum+i
    else:
        continue
print(sum)

166833

In [47]:
#while문 사용해서 별 표시(5개까지)

i=1
while i<6:
    print(i*'*') #i*문자로 해당 문자를 i개수만큼 찍을 수 있다.
    i=i+1

*
**
***
****
*****

In [50]:
for i in range(1,6):
    print(i*'*')

*
**
***
****
*****

In [51]:
sum=0
for i in range(1,101):
    sum=sum+i
print(sum)

5050

In [61]:
def add(a,b):
    print('%d, %d의 합은 %d입니다.'% (a,b,a+b))
add(3,4)

3, 4의 합은 7입니다.

In [62]:
def say():
    print('Hi')
say()

Hi

In [63]:
def add_many(*args): #여러개의 입력값을 받는 함수를 만들 때 *args를 사용
    result=0
    for i in args:
        result=result+i
    return result

add_many(1,2,3)

6

In [64]:
add_many(4,5,6,7)

22

In [65]:
def add_mul(choice,*args):
    if choice == "add":
        result=0
        for i in args:
            result=result+i
    elif choice=="mul":
        result=1
        for i in args:
            result=result*i
    else:
        result=-1
    return result

add_mul("add",2,4,6,8,10)

30

In [66]:
add_mul("mul",3,5,7,9,11)

10395

In [67]:
add_mul("dk")

-1

In [68]:
#초기화하고 싶은 매개변수는 항상 뒤쪽에 두자.

In [76]:
a=1
def vartest(a):
    a=a+1
vartest(a)
print(a)
# 지역함수 : 특정 범위 안에서만 사용하는 함수
# 함수 :

1

In [77]:
a=1
def vartest(a):
    a=a+1
    return a #return을 사용해서 a값을 갖고 나가도록 한다.

a=vartest(a)
print(a)

2

In [79]:
a=1
def vartest():
    global a #global을 사용함
    a=a+1

vartest()
print(a)

2

In [80]:
add=lambda a,b:a+b #lambda는 함수를 한줄로 간결하게 만들때 사용
result=add(3,4)
print(result)

7

In [81]:
a=input() #입력되는 모든 것을 문자열로 취급한다.

ldk

In [82]:
a=input("질문은?")

질문은?없습니다

In [84]:
number=int(input("숫자를 입력하세용! : "))

숫자를 입력하세용! : 12323

In [85]:
number

12323

In [86]:
#print 심화과정
print("life""is""too short")

lifeistoo short

In [88]:
for i in range(10):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [91]:
#sep='separator' 찾아보기
print("k","a","m",sep='-')

k-a-m

In [92]:
#파일 생성
f=open("newfile.txt",'w')
f.close()

In [93]:
# 관리자 명령 프롬프트
# dir : 디렉토리 안에 있는 파일 목록 확인
# cd 디렉토리명 : 특정 디렉토리 안으로 이동
# md 디렉토리명 : 디렉토리 만들기
# cd .. : 디렉토리에서 빠져나올 때
# rd 디렉토리명 : 디렉토리 삭제

In [94]:
f=open("newfile.txt",'w')
for i in range(1,11):
    data="%d번째 줄입니다.\n" % i
    f.write(data)
f.close()

In [96]:
f=open("newfile.txt",'r')
while True:
    line=f.readline()
    if not line:break #readline은 더이상 읽을 줄이 없으면 None을 출력한다.
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [97]:
f=open("newfile.txt",'r')
lines=f.readlines()
for line in lines: #readlines는 각각의 줄을 요소로 갖는 리스트로 돌려준다.
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [98]:
f=open("newfile.txt",'r')
data=f.read()
print(data)
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [100]:
# 추가모드('a')로 파일에 새로운 내용 추가
f=open("newfile.txt",'a')
for i in range(11,20):
    data="%d번째 줄입니다.\n" % i
    f.write(data)
f.close()

In [102]:
# with문을 사용하면 f.close를 하지 않아도 with 블록을 벗어나는 순간 알아서 닫힌다.
# with open("newfile.txt",'a')
# dos 명령어를 사용해서 새파일.txt를 열어서 확인하기 = 해당 파일 앞에 type 붙이면 프롬포트 화면에서 확인 가능

In [103]:
# 연습문제 풀이
def is_odd(a):
    if a%2==1:
        print("홀수입니다.")
    elif a%2==0:
        print("짝수입니다.")
    else:
        print("잘못 입력하셨습니다.")
        
is_odd(int(input()))

4
짝수입니다.

In [110]:
def all_avr(*args):
    sum=0
    for i in args: #args
        sum=sum+i
    return int(sum/len(args))

all_avr(3,7,8)

6

In [112]:
input1=int(input("첫번째 숫자를 입력하세요:"))
input2=int(input("두번째 숫자를 입력하세요:"))

total=input1+input2
print("두 수의 합은 %s입니다." % total)

첫번째 숫자를 입력하세요:3
두번째 숫자를 입력하세요:6
두 수의 합은 9입니다.

In [113]:
print("".join(["you","need","python"]))

youneedpython