In [6]:
#문제1 : 리스트의 삭제
#리스트 nums=[100,200,300,400,500]에서 400,500을 삭제하는 코드 작성

In [7]:
#나의 풀이
nums=[100,200,300,400,500]

nums.pop()
nums.pop()

nums

[100, 200, 300]

In [8]:
# 해답편1은 위의 방법
# 해답편2

nums=[100,200,300,400,500]
nums=nums[:3]

In [10]:
#문제 2

l=[100,200,300]
l.insert(2,10000)
print(l)

[100, 200, 10000, 300]

In [11]:
l=[100,200,300]
print(type(l))

<class 'list'>

In [14]:
#문제 9
# sep과 end를 활용해서 2019/04/26 11:34:27로 나오게 만들어라

year='2019'
month='04'
day='26'
hour='11'
minute='34'
second='27'

#print(year,month,day, )
#print(hour,minute,second, )

print(year, month, day, sep='/', end=" ")
print(hour, minute, second, sep=':')

2019/04/26 11:34:27

In [61]:
#문제 10
# 3입력받으면
#    *
#  ***
# *****
#위와 같이 나오도록

a=int(input("입력:"))
    
for i in range(0,a):
    print(" " * (a-i) + "*" * (2*i+1))
    
# 가령 5를 입력했을 경우
# 빈칸 4칸 *표 1칸
# 빈칸 3칸 *표 3칸
# 빈칸 2칸 *표 5칸
# 빈칸 1칸 *표 7칸
# 빈칸 0칸 *표 9칸
# 위에 맞게 코드를 작성하면 된다.

입력:7
       *
      ***
     *****
    *******
   *********
  ***********
 *************

In [62]:
#문제 11
s=0
for i in range(100):
    s=s+i
print(s)

4950

In [64]:
#문제 12

class Wizard():
    def __init__(self,health,mana,armor):
        self.health=health
        self.mana=mana
        self.armor=armor
    def attack(self):
        print("파이어볼")
        
x=Wizard(health=545,mana=210,armor=10)
print(x.health,x.mana,x.armor)
x.attack()

545 210 10
파이어볼

In [77]:
#문제 13

planet=["수성","금성","지구","화성","목성","토성","천왕성","해왕성"]

while True:
    a=int(input())

    if a<9 and a>0:
        print(planet[a-1])
        break
    elif a<1:
        if a==0:
            print("0은 위 문제에서 사용되지 않습니다.")
        else:
            print("양수를 입력해주세요!")
    else:
        print("숫자는 1~8까지만 입력할 수 있습니다.")

-1
양수를 입력해주세요!
-2
양수를 입력해주세요!
-30
양수를 입력해주세요!
100
숫자는 1~8까지만 입력할 수 있습니다.
0
0은 위 문제에서 사용되지 않습니다.
1
수성

In [78]:
#문제 14

num=0

def threebae(num):
    if num%3==0:
        print("짝")
    else:
        print(num)

num=int(input())
threebae(num)

3
짝

In [93]:
#문제 15
name=input()
print("안녕하세요. 저는 %s입니다." % name)
print("안녕하세요. 저는 {}입니다.".format(name))

김다정
안녕하세요. 저는 김다정입니다.
안녕하세요. 저는 김다정입니다.

In [80]:
#문제 17
height=int(input())
if height>150:
    print("YES")
else:
    print("NO")

190
YES

In [90]:
#문제 18
a=[]
sum=0
i=0

for i in range(0,3):
    a.insert(i,int(input()))
    sum=sum+a[i]

print(round(sum/len(a)))

20
30
40
30

In [96]:
#문제 16
a=list(input())
a.reverse()
for i in range(len(a)):
    print(a[i],end="")
#리스트화가 과했다....

거꾸로
로꾸거

In [97]:
#문제 16(단순화1)
a= input('')
for i in range(len(a),0,-1):
    print(a[i-1],end='')

거꾸로
로꾸거

In [99]:
#문제 16(단순화2)
a=input('')
print(a[::-1])#기억해두자?!

거꾸로
로꾸거

In [108]:
#문제 18(심화)

a=input()
k=a.split() #split
sum=0

for i in range(0,len(k)-1):
    #print(k[i])
    sum=sum+int(k[i])

print(round(sum/len(k)))

20 30 40
17

In [120]:
#nums=list(map(int,input().split()))
#sum(nums)

n=list(map(int,input().split()))
n[0]+n[1]

#print(sum(nums)/len(nums))

20 30 40

50

In [112]:
#문제 19
nums=input().split()
print(int(nums[0])**int(nums[1]))

3 2
9

In [113]:
#문제 19(범용화)
n=list(map(int,input().split())) #공백포함 입력받으면서 리스트화 ; 외워두면 좋음
print(n[0]**n[1])

3 2
9

In [121]:
#문제 20
n=list(map(int,input().split()))
#print(n[0]//n[1],end=" ")
#print(n[0]%n[1])
print(n[0]//n[1],n[0]%n[1])

10 2
5 0

In [127]:
#문제 21
x={1,2,3,5,6,7}
type(x)

set

In [130]:
#문제 24
print(input().upper())

mary
MARY

In [132]:
#문제 25
def circle(r):
    return r*r*3.14

circle(int(input()))

7

153.86

In [142]:
#문제 26
#딕셔너리로 할 것
planet={
    '수성':'Mercury',
    '금성':'Venus',
    '지구':'Earth',
    '화성':'Mars',
    '목성':'Jupiter',
    '토성':'Saturn',
    '천왕성':'Uranus',
    '해왕성':'Neptune'}

a=input()
if a not in planet.keys():
    print("없습니다.")
else:
    print(planet[a])

수성
Mercury